
<body>

<script>

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(storePosition);
    } else { 
        document.write("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
   
   document.write("Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude);

}

function storePosition(position){

	window.open("store?latitude=" + position.coords.latitude +
		"&longitude=" + position.coords.longitude,"_self");
}

window.setInterval(getLocation, 1000);

</script>

 Storing locations...

<br>
<%= link_to "map", event_get_date_path, :method => :get %> <br>
<%= link_to "back", root_path, :method => :get %>

</body>